# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# ======================
# Arduino
# ======================
*.elf
*.hex
*.bin

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Temporary / Generated
# ======================
*.tmp
*.bak
